<div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/">My app!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <!-- Upload button form -->
              <li class="nav-item active">
                <button type="button" class="btn btn-primary" onclick="upload_file();">Upload</button>
                <form id="file-input" action="/upload" method="post" enctype=multipart/form-data>
                  <input id="file-inputs" type="file" name="file" style="display: none;" onchange="form.submit()"/>
                </form> 
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/show_all">Show all</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search_value">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
<script>
    function upload_file()
    {
      var a = document.getElementById("file-inputs").click();
    }
    
</script>