{% extends 'layout.html'%}
{% block body %}
<div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
                <div class="jumbotron text-center">
                <h1 class="display-3">Hello, world!</h1>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
